<ul class="nav nav-pills nav-stacked">
  <li role="presentation" ng-class="{'active': currentPage === 'info'}">
    <a ng-click="showPage('info')">Info</a>
  </li>
  <li role="presentation" ng-class="{'active': currentPage === 'household'}">
    <a ng-click="showPage('household')">Household</a>
  </li>
  <li role="presentation" ng-class="{'active': currentPage === 'age'}">
    <a ng-click="showPage('age')">Age</a>
  </li>
  <li role="presentation" ng-class="{'active': currentPage === 'gender'}">
    <a ng-click="showPage('gender')">Gender</a>
  </li>
</ul>
