<div class="row" style="margin-top: 40px;">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <demo-nav current-page="'info'"></demo-nav>
  </div>
  <div class="col-md-8">

    <h3 ng-if="loadingData">Loading data...</h3>

    <p ng-if="!loadingData">
      Metro Parks Tacoma conducted a survey with 641 responses. This is a breakdown of the demographic information supplied in those responses.
    </p>

  </div>
  <div class="col-md-1"></div>
</div>
<!--

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8" ng-if="loadingData">
    <h3>Loading data...</h3>
  </div>
  <div class="col-md-8" ng-if="!loadingData">

    <div style="margin-top: 20px;"></div>

    <ul class="nav nav-tabs" role="tablist" id="myTabs">
      <li role="presentation" class="active">
        <a ng-click="showTab('info')">Survey Info</a>
      </li>
      <li role="presentation">
        <a ng-click="showTab('household')">Household</a>
      </li>
      <li role="presentation">
        <a href="#age" aria-controls="age" role="tab" data-toggle="tab">Age</a>
      </li>
    </ul>

    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="info" ng-if="tabToShow === 'info'">
        <p>
          Metro Parks Tacoma conducted a survey with 641 responses. This is a breakdown of the demographic information supplied in those responses.
        </p>
      </div>

      <div role="tabpanel" class="tab-pane" id="household" ng-if="tabToShow === 'household'">
        <h4>Q1: Counting yourself, how many people in your household are within the following age ranges?</h4>
        <div style="margin-top: 20px;"></div>
        <canvas id="bar" class="chart chart-bar"
          chart-data="q19Data" chart-labels="q19Labels" chart-series="q19Series">
        </canvas>
      </div>

      <div role="tabpanel" class="tab-pane" id="age">
        <h4>Q2: What is your age?</h4>
        <div style="margin-top: 20px;"></div>
        <canvas id="bar" class="chart chart-bar"
          chart-data="q20Data" chart-labels="q20Labels" chart-series="q20Series">
        </canvas>
        <p>
          The mean age of respondents is <b>{{q20Average}}</b> years old.
        </p>
      </div>

    </div>

  </div>
  <div class="col-md-2"></div>
</div> -->
