<div class="row" style="margin-top: 40px;">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <demo-nav current-page="'info'"></demo-nav>
  </div>
  <div class="col-md-8">

    <h3 ng-if="loadingData">Loading data...</h3>

    <div ng-if="!loadingData">
      <p style="margin-bottom: 30px;">
        Metro Parks Tacoma conducted a survey with {{responseCount}} responses. This is a breakdown of the demographic information supplied in those responses. The full questionnaire used for the survey is below.
      </p>

      <pdf src="'http://localhost:4545/static/MPTacomaSurvey.pdf'"></pdf>
    </div>

  </div>
  <div class="col-md-1"></div>
</div>
